.ulHeader {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

.liHeader {
margin-right: 1rem;
display: flex;
}

.liHeader:first-child {
margin-left: auto;
}

.aHeader {
color: #fff;
text-decoration: none;
display: flex;
align-items: center;
}

.aHeader img {
margin-right: 1em;
}

.headerHeader {
padding: 0.2rem;
color: #fff;
background-color: #333;
}